In [0]:
data = [1, 2, 3, 4, 5]
distData = sc.parallelize(data)

---------------------------------------------------------------------------
NotImplementedError                       Traceback (most recent call last)
File <command-5123423862299418>, line 2
      1 data = [1, 2, 3, 4, 5]
----> 2 distData = sc.parallelize(data)

File /databricks/python_shell/lib/dbruntime/UserNamespaceInitializer.py:43, in TripWire.__getattr__(self, item)
     42 def __getattr__(self, item):
---> 43     self._raise()

File /databricks/python_shell/lib/dbruntime/UserNamespaceInitializer.py:35, in TripWire._raise(self)
     33     raise SystemError(self._UNINITIALIZED_INTERNAL_ERROR.format(self.name))
     34 if self.msg == 'not_implemented':
---> 35     raise NotImplementedError(self._UNSUPPORTED_SERVERLESS.format(self.name))
     36 if self.msg == 'deprecated_in_spark_connect':
     37     raise NotImplementedError(self._UNSUPPORTED_SHARED_CLUSTER.format(self.name))

NotImplementedError: sc is not supported on serverless compute, consider using `spark` instead.

In [0]:
import logging
import json

product = [
    {"item_id":1234, "name": 'tshirt', "price" : 30000},
    {"item_id":232, "name": 'shirt', "price" : 300230}
]

print(product)
print("---------------------" )
print(product[0])

for i in range(len(product)):
    if product[i]["price"] > 30000:
        print(f'producct : ', product[i])

[{'item_id': 1234, 'name': 'tshirt', 'price': 30000}, {'item_id': 232, 'name': 'shirt', 'price': 300230}]
---------------------
{'item_id': 1234, 'name': 'tshirt', 'price': 30000}
producct :  {'item_id': 232, 'name': 'shirt', 'price': 300230}

In [0]:
name = ["punit", "kumar", "more", "is", "a", "good", "boy", "and", "he", "is", "very", "smart", "and", "intelligent"]
sorted_name = sorted(name, key = len, reverse=True)
print(sorted_name)
print(len(name))

['intelligent', 'punit', 'kumar', 'smart', 'more', 'good', 'very', 'boy', 'and', 'and', 'is', 'he', 'is', 'a']
14

In [0]:
import json

# The sample JSON data stored as a multi-line string
json_string = """
{
  "name": "Alex Doe",
  "age": 22,
  "isStudent": true,
  "courses": [
    "History",
    "Computer Science",
    "Art"
  ],
  "address": {
    "city": "Pune",
    "zipcode": "411001"
  }
}
"""

# 1. Parse the JSON string into a Python dictionary
# The `json.loads()` function (load string) does this conversion.
user_data = json.loads(json_string)
print(f"Type of parsed data: {type(user_data)}")
# Output: Type of parsed data: <class 'dict'>
print("-" * 20)


# 2. Access data from the dictionary
# You can access values using their keys.
print('Users Name:   ',   user_data['name'])
print(f"User's City: {user_data['address']['city']}") # Accessing a nested value
print(f"First Course: {user_data['courses'][0]}")   # Accessing an item in a list
print("-" * 20)


# 3. Modify the data
# You can change values, add new key-value pairs, or append to lists.
user_data['age'] = 23  # Update a value
user_data['email'] = "alex.doe@example.com"  # Add a new key-value pair
user_data['courses'].append("Mathematics")  # Add an item to the list

print("Modified user data:")
print(user_data)
# Output:
# Modified user data:
# {'name': 'Alex Doe', 'age': 23, 'isStudent': True, 'courses': ['History', 'Computer Science', 'Art', 'Mathematics'], 'address': {'city': 'Pune', 'zipcode': '411001'}, 'email': 'alex.doe@example.com'}
print("-" * 20)


# 4. Convert the Python dictionary back to a JSON string
# The `json.dumps()` function (dump string) does this.
# `indent=4` makes the output nicely formatted and readable ("pretty-printed").
new_json_string = json.dumps(user_data, indent=4)

print("Newly generated JSON string:")
print(new_json_string)

Type of parsed data: <class 'dict'>
--------------------
Users Name:    Alex Doe
User's City: Pune
First Course: History
--------------------
Modified user data:
{'name': 'Alex Doe', 'age': 23, 'isStudent': True, 'courses': ['History', 'Computer Science', 'Art', 'Mathematics'], 'address': {'city': 'Pune', 'zipcode': '411001'}, 'email': 'alex.doe@example.com'}
--------------------
Newly generated JSON string:
{
    "name": "Alex Doe",
    "age": 23,
    "isStudent": true,
    "courses": [
        "History",
        "Computer Science",
        "Art",
        "Mathematics"
    ],
    "address": {
        "city": "Pune",
        "zipcode": "411001"
    },
    "email": "alex.doe@example.com"
}

In [0]:
print("raw json data")
sample_json = '''{
    "employees" : "Alex Doe",
    "address" : {
        "city" : "Pune",
        "phon" : 343435454,
        "zipcode" : "411001"
    },
    "age": 30  
}'''

print(sample_json) 
print('-------' * 20)

user_data = json.loads(sample_json)

print(user_data)
print('-------' * 20)

user_data["employees"] = "Punit More"
del user_data["address"]["phon"]
user_data["address"]["pincode"] =  411001

print(user_data)
print('-------' * 20)
new_generated_json = json.dumps(user_data,indent=5)
print("Newly generated JSON string:")
print(new_generated_json)

raw json data
{
    "employees" : "Alex Doe",
    "address" : {
        "city" : "Pune",
        "phon" : 343435454,
        "zipcode" : "411001"
    },
    "age": 30
}
--------------------------------------------------------------------------------------------------------------------------------------------
{'employees': 'Alex Doe', 'address': {'city': 'Pune', 'phon': 343435454, 'zipcode': '411001'}, 'age': 30}
--------------------------------------------------------------------------------------------------------------------------------------------
{'employees': 'Punit More', 'address': {'city': 'Pune', 'zipcode': '411001', 'pincode': 411001}, 'age': 30}
--------------------------------------------------------------------------------------------------------------------------------------------
Newly generated JSON string:
{
     "employees": "Punit More",
     "address": {
          "city": "Pune",
          "zipcode": "411001",
          "pincode": 411001
     },
     "age": 30
}

In [0]:
import pprint as pp
with open(r'C:\Users\punitkumar.more\Documents\Elisa\gcp_de\AUTOMATION\retail_db\schemas.json', 'r') as file:
    schemas = json.load(file)
#pp.pprint(schemas)
print(type(schemas), len(schemas))
pp.pprint(schemas.keys())
pp.pprint(schemas.values())

<class 'dict'> 6
dict_keys(['departments', 'categories', 'orders', 'products', 'customers', 'order_items'])
dict_values([[{'column_name': 'department_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'department_name', 'data_type': 'string', 'column_position': 2}], [{'column_name': 'category_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'category_department_id', 'data_type': 'integer', 'column_position': 2}, {'column_name': 'category_name', 'data_type': 'string', 'column_position': 3}], [{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2}, {'column_name': 'customer_id', 'data_type': 'timestamp', 'column_position': 3}, {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}], [{'column_name': 'product_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'product_cateogry_id', 'data_type': 'integer', 'column_position': 2}, {'column_name': 'product_name', 'data_type': '', 'column_position': 3}, {'column_name': 'product_description', 'data_type': 'string', 'column_position': 4}, {'column_name': 'product_price', 'data_type': 'float', 'column_position': 5}, {'column_name': 'product_image', 'data_type': 'string', 'column_position': 6}], [{'column_name': 'customer_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'customer_fname', 'data_type': 'string', 'column_position': 2}, {'column_name': 'customer_lname', 'data_type': 'string', 'column_position': 3}, {'column_name': 'customer_email', 'data_type': 'string', 'column_position': 4}, {'column_name': 'customer_password', 'data_type': 'string', 'column_position': 5}, {'column_name': 'customer_street', 'data_type': 'string', 'column_position': 6}, {'column_name': 'customer_city', 'data_type': 'string', 'column_position': 7}, {'column_name': 'customer_state', 'data_type': 'string', 'column_position': 8}, {'column_name': 'customer_zipcode', 'data_type': 'integer', 'column_position': 9}], [{'column_name': 'order_item_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'order_item_order_id', 'data_type': 'integer', 'column_position': 2}, {'column_name': 'order_item_product_id', 'data_type': 'integer', 'column_position': 3}, {'column_name': 'order_item_quantity', 'data_type': 'integer', 'column_position': 4}, {'column_name': 'order_item_subtotal', 'data_type': 'float', 'column_position': 5}, {'column_name': 'order_item_product_price', 'data_type': 'float', 'column_position': 6}]])

In [0]:
#schemas.get("userProfile")

schemas.get('userProfile')

In [0]:
import pprint as pp
import json
with open(r'C:\Users\punitkumar.more\Documents\Elisa\gcp_de\AUTOMATION\input\schemas.json', 'r') as file:
    db_schemas = json.load(file)

print(type(db_schemas), len(db_schemas))
pp.pprint(db_schemas.keys())

<class 'dict'> 6
dict_keys(['departments', 'categories', 'orders', 'products', 'customers', 'order_items'])

In [0]:
orders_list = db_schemas.get('orders')
pp.pprint(orders_list)

[{'column_name': 'order_id', 'column_position': 1, 'data_type': 'integer'},
 {'column_name': 'order_date', 'column_position': 2, 'data_type': 'string'},
 {'column_name': 'customer_id', 'column_position': 3, 'data_type': 'timestamp'},
 {'column_name': 'order_status', 'column_position': 4, 'data_type': 'string'}]

In [0]:
# import logging
# logging.basicConfig(filename='test.log',logginglevel=logging.INFO,filemode='w',format='%(asctime)s - %(levelname)s - %(message)s')
# logging.info("This is an info message")
# logging.warning("This is a warning message")
# logging.error("This is an error message")   

# with open('name.log','w') as file:
#     file.write("New log entry\n")

In [0]:
import logging
logger = logging.getLogger(__name__)
logger.setLevel(logging.DEBUG)

f = logging.Formatter('%(asctime)s - %(levelname)s - %(message)s')
fh = logging.FileHandler('tet.log')
fh.setFormatter(f)
logger.addHandler(fh)

logger.debug("This is a debug message")
logger.info("This is an info message")  
logger.warning("This is a warning message")

In [0]:
orders_list = db_schemas.get('orders')
pp.pprint(orders_list)

[{'column_name': 'order_id', 'column_position': 1, 'data_type': 'integer'},
 {'column_name': 'order_date', 'column_position': 2, 'data_type': 'string'},
 {'column_name': 'customer_id', 'column_position': 3, 'data_type': 'timestamp'},
 {'column_name': 'order_status', 'column_position': 4, 'data_type': 'string'}]

In [0]:
# new_list = []
# for order in orders_list:
#     new_list.append(order['column_name'])
# print(new_list)
    
new_list = [order['column_name'] for order in orders_list]
print(new_list)


list(map(lambda order : order['column_name'],orders_list))

['order_id', 'order_date', 'customer_id', 'order_status']

['order_id', 'order_date', 'customer_id', 'order_status']

In [0]:
sorting_key = input("Enter sorting key (column_name/data_type): ").strip()
sorted_orders = sorted(orders_list,key = lambda order: order[sorting_key])

pp.pprint(sorted_orders)

[{'column_name': 'order_id', 'column_position': 1, 'data_type': 'integer'},
 {'column_name': 'order_date', 'column_position': 2, 'data_type': 'string'},
 {'column_name': 'customer_id', 'column_position': 3, 'data_type': 'timestamp'},
 {'column_name': 'order_status', 'column_position': 4, 'data_type': 'string'}]

In [0]:
print(db_schemas)

{'departments': [{'column_name': 'department_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'department_name', 'data_type': 'string', 'column_position': 2}], 'categories': [{'column_name': 'category_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'category_department_id', 'data_type': 'integer', 'column_position': 2}, {'column_name': 'category_name', 'data_type': 'string', 'column_position': 3}], 'orders': [{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2}, {'column_name': 'customer_id', 'data_type': 'timestamp', 'column_position': 3}, {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}], 'products': [{'column_name': 'product_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'product_cateogry_id', 'data_type': 'integer', 'column_position': 2}, {'column_name': 'product_name', 'data_type': '', 'column_position': 3}, {'column_name': 'product_description', 'data_type': 'string', 'column_position': 4}, {'column_name': 'product_price', 'data_type': 'float', 'column_position': 5}, {'column_name': 'product_image', 'data_type': 'string', 'column_position': 6}], 'customers': [{'column_name': 'customer_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'customer_fname', 'data_type': 'string', 'column_position': 2}, {'column_name': 'customer_lname', 'data_type': 'string', 'column_position': 3}, {'column_name': 'customer_email', 'data_type': 'string', 'column_position': 4}, {'column_name': 'customer_password', 'data_type': 'string', 'column_position': 5}, {'column_name': 'customer_street', 'data_type': 'string', 'column_position': 6}, {'column_name': 'customer_city', 'data_type': 'string', 'column_position': 7}, {'column_name': 'customer_state', 'data_type': 'string', 'column_position': 8}, {'column_name': 'customer_zipcode', 'data_type': 'integer', 'column_position': 9}], 'order_items': [{'column_name': 'order_item_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'order_item_order_id', 'data_type': 'integer', 'column_position': 2}, {'column_name': 'order_item_product_id', 'data_type': 'integer', 'column_position': 3}, {'column_name': 'order_item_quantity', 'data_type': 'integer', 'column_position': 4}, {'column_name': 'order_item_subtotal', 'data_type': 'float', 'column_position': 5}, {'column_name': 'order_item_product_price', 'data_type': 'float', 'column_position': 6}]}

In [0]:
db_schemas.keys()

dict_keys(['departments', 'categories', 'orders', 'products', 'customers', 'order_items'])

In [0]:
def get_db_schemas(db_schemas, db_name, sorting_key = 'data_type'):
    get_tb_name = db_schemas.get(db_name)
    print(get_tb_name)
    sorted_tb_name = sorted(get_tb_name, key = lambda col : col[sorting_key] )
    print(sorted_tb_name)
    new_generated_json = [col['data_type'] for col in sorted_tb_name]
    print(new_generated_json)

In [0]:
get_db_schemas(db_schemas, 'orders')

[{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2}, {'column_name': 'customer_id', 'data_type': 'timestamp', 'column_position': 3}, {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}]
[{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2}, {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}, {'column_name': 'customer_id', 'data_type': 'timestamp', 'column_position': 3}]
['integer', 'string', 'string', 'timestamp']

Pandas Tutorial

In [0]:
order_columns = db_schemas.get('orders')
columns_name = [col['column_name'] for col in order_columns]
print(columns_name)
print(order_columns)
import pandas as pd
order = pd.read_csv(r'C:\Users\punitkumar.more\Documents\Elisa\gcp_de\AUTOMATION\input\part.txt', header=0, names=columns_name)
order

['order_id', 'order_date', 'customer_id', 'order_status']
[{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1}, {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2}, {'column_name': 'customer_id', 'data_type': 'timestamp', 'column_position': 3}, {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}]

   order_id  order_date customer_id order_status
0      1002  2024-09-01     CUST012   Processing
1      1003  2024-09-02     CUST020      Shipped
2      1004  2024-09-03     CUST005    Cancelled
3      1005  2024-09-03     CUST018    Delivered
4      1006  2024-09-04     CUST001   Processing
5      1007  2024-09-05     CUST012      Shipped
6      1008  2024-09-05     CUST025    Delivered

In [0]:
order.columns

Index(['order_id', 'order_date', 'customer_id', 'order_status'], dtype='object')

In [0]:
order['order_status'].unique()

array(['Processing', 'Shipped', 'Cancelled', 'Delivered'], dtype=object)

In [0]:
order.query('order_status == "Delivered" and customer_id == "CUST001"')

Empty DataFrame
Columns: [order_id, order_date, customer_id, order_status]
Index: []

In [0]:
order.query('order_status == "Delivered" or order_status == "Pending"')

   order_id  order_date customer_id order_status
3      1005  2024-09-03     CUST018    Delivered
6      1008  2024-09-05     CUST025    Delivered

In [0]:
data = {"Name" : ['Alice','Bob'],"Age": [25,30]}

df = pd.DataFrame(data)
print(df)

    Name  Age
0  Alice   25
1    Bob   30

In [0]:
df = order

In [0]:
df

   order_id  order_date customer_id order_status
0      1002  2024-09-01     CUST012   Processing
1      1003  2024-09-02     CUST020      Shipped
2      1004  2024-09-03     CUST005    Cancelled
3      1005  2024-09-03     CUST018    Delivered
4      1006  2024-09-04     CUST001   Processing
5      1007  2024-09-05     CUST012      Shipped
6      1008  2024-09-05     CUST025    Delivered

In [0]:
df.dtypes

order_id         int64
order_date      object
customer_id     object
order_status    object
dtype: object

In [0]:
status_count = df.groupby('order_status')['order_id'].count().reset_index()
print(status_count)

  order_status  order_id
0    Cancelled         1
1    Delivered         2
2   Processing         2
3      Shipped         2

In [0]:
pp.pprint(orders_list)
print(df['order_status'].value_counts(dropna=False,sort=True,ascending=True)) #combination of group by and order by

[{'column_name': 'order_id', 'column_position': 1, 'data_type': 'integer'},
 {'column_name': 'order_date', 'column_position': 2, 'data_type': 'string'},
 {'column_name': 'customer_id', 'column_position': 3, 'data_type': 'timestamp'},
 {'column_name': 'order_status', 'column_position': 4, 'data_type': 'string'}]
order_status
Cancelled     1
Processing    2
Shipped       2
Delivered     2
Name: count, dtype: int64

In [0]:
df['order_date'] = pd.to_datetime(df['order_date'])
# print(df['order_date'])
df['Month'] = df['order_date'].dt.to_period('M')    #dt.month
df['Year'] = df['order_date'].dt.year               #dt.year
print(df['Month'],'*****')
print(df['Year'],'******')

0    2024-09
1    2024-09
2    2024-09
3    2024-09
4    2024-09
5    2024-09
6    2024-09
Name: Month, dtype: period[M] *****
0    2024
1    2024
2    2024
3    2024
4    2024
5    2024
6    2024
Name: Year, dtype: int32 ******

In [0]:
print(order)

   order_id order_date customer_id order_status    Month  Year
0      1002 2024-09-01     CUST012   Processing  2024-09  2024
1      1003 2024-09-02     CUST020      Shipped  2024-09  2024
2      1004 2024-09-03     CUST005    Cancelled  2024-09  2024
3      1005 2024-09-03     CUST018    Delivered  2024-09  2024
4      1006 2024-09-04     CUST001   Processing  2024-09  2024
5      1007 2024-09-05     CUST012      Shipped  2024-09  2024
6      1008 2024-09-05     CUST025    Delivered  2024-09  2024

In [0]:
df['order_date'] = pd.to_datetime(df['order_date'])
print(df['order_date'])
df['Month'] = df['order_date'].dt.to_period('M')    #dt.month
df['Year'] = df['order_date'].dt.year               #dt.year
print(df['Month'],'*****')
print(df['Year'],'******')

0   2024-09-01
1   2024-09-02
2   2024-09-03
3   2024-09-03
4   2024-09-04
5   2024-09-05
6   2024-09-05
Name: order_date, dtype: datetime64[ns]
0    2024-09
1    2024-09
2    2024-09
3    2024-09
4    2024-09
5    2024-09
6    2024-09
Name: Month, dtype: period[M] *****
0    2024
1    2024
2    2024
3    2024
4    2024
5    2024
6    2024
Name: Year, dtype: int32 ******

In [0]:
print(df)
print('--'*20)
df['order_date'] = pd.to_datetime(df['order_date'])
df['Month'] = df['order_date'].dt.to_period('M')    #dt.month
count = df.groupby(['Month','order_status'])['order_id'].count().reset_index()
print(count)
print('----'*10)
count = df.groupby(['Month','order_status'])['order_id'].count()
print(count)

   order_id order_date customer_id order_status    Month  Year
0      1002 2024-09-01     CUST012   Processing  2024-09  2024
1      1003 2024-09-02     CUST020      Shipped  2024-09  2024
2      1004 2024-09-03     CUST005    Cancelled  2024-09  2024
3      1005 2024-09-03     CUST018    Delivered  2024-09  2024
4      1006 2024-09-04     CUST001   Processing  2024-09  2024
5      1007 2024-09-05     CUST012      Shipped  2024-09  2024
6      1008 2024-09-05     CUST025    Delivered  2024-09  2024
----------------------------------------
     Month order_status  order_id
0  2024-09    Cancelled         1
1  2024-09    Delivered         2
2  2024-09   Processing         2
3  2024-09      Shipped         2
----------------------------------------
Month    order_status
2024-09  Cancelled       1
         Delivered       2
         Processing      2
         Shipped         2
Name: order_id, dtype: int64

In [0]:
pivot = df.pivot_table(index='Month',columns='order_status',values='order_id',aggfunc='count',fill_value=0)
print(pivot)

order_status  Cancelled  Delivered  Processing  Shipped
Month
2024-09               1          2           2        2

In [0]:
pp.pprint(db_schemas)

{'categories': [{'column_name': 'category_id',
                 'column_position': 1,
                 'data_type': 'integer'},
                {'column_name': 'category_department_id',
                 'column_position': 2,
                 'data_type': 'integer'},
                {'column_name': 'category_name',
                 'column_position': 3,
                 'data_type': 'string'}],
 'customers': [{'column_name': 'customer_id',
                'column_position': 1,
                'data_type': 'integer'},
               {'column_name': 'customer_fname',
                'column_position': 2,
                'data_type': 'string'},
               {'column_name': 'customer_lname',
                'column_position': 3,
                'data_type': 'string'},
               {'column_name': 'customer_email',
                'column_position': 4,
                'data_type': 'string'},
               {'column_name': 'customer_password',
                'column_position': 5,
                'data_type': 'string'},
               {'column_name': 'customer_street',
                'column_position': 6,
                'data_type': 'string'},
               {'column_name': 'customer_city',
                'column_position': 7,
                'data_type': 'string'},
               {'column_name': 'customer_state',
                'column_position': 8,
                'data_type': 'string'},
               {'column_name': 'customer_zipcode',
                'column_position': 9,
                'data_type': 'integer'}],
 'departments': [{'column_name': 'department_id',
                  'column_position': 1,
                  'data_type': 'integer'},
                 {'column_name': 'department_name',
                  'column_position': 2,
                  'data_type': 'string'}],
 'order_items': [{'column_name': 'order_item_id',
                  'column_position': 1,
                  'data_type': 'integer'},
                 {'column_name': 'order_item_order_id',
                  'column_position': 2,
                  'data_type': 'integer'},
                 {'column_name': 'order_item_product_id',
                  'column_position': 3,
                  'data_type': 'integer'},
                 {'column_name': 'order_item_quantity',
                  'column_position': 4,
                  'data_type': 'integer'},
                 {'column_name': 'order_item_subtotal',
                  'column_position': 5,
                  'data_type': 'float'},
                 {'column_name': 'order_item_product_price',
                  'column_position': 6,
                  'data_type': 'float'}],
 'orders': [{'column_name': 'order_id',
             'column_position': 1,
             'data_type': 'integer'},
            {'column_name': 'order_date',
             'column_position': 2,
             'data_type': 'string'},
            {'column_name': 'customer_id',
             'column_position': 3,
             'data_type': 'timestamp'},
            {'column_name': 'order_status',
             'column_position': 4,
             'data_type': 'string'}],
 'products': [{'column_name': 'product_id',
               'column_position': 1,
               'data_type': 'integer'},
              {'column_name': 'product_cateogry_id',
               'column_position': 2,
               'data_type': 'integer'},
              {'column_name': 'product_name',
               'column_position': 3,
               'data_type': ''},
              {'column_name': 'product_description',
               'column_position': 4,
               'data_type': 'string'},
              {'column_name': 'product_price',
               'column_position': 5,
               'data_type': 'float'},
              {'column_name': 'product_image',
               'column_position': 6,
               'data_type': 'string'}]}

In [0]:
# def get_columns_by_type(db_schemas, db_name, data_type='STRING'):
#     get_tb_name = db_schemas.get(db_name)
#     pp.pprint(get_tb_name)
#     #filtered_columns = list(filter(lambda col: col['data_type'] == 'integer',get_tb_name))
#     #print(filtered_columns)
#     #new_generated_json = [col['column_name'] for col in filtered_columns]
#     print(new_generated_json)


#def get_columns_names()

In [0]:
pp.pprint(db_schemas)

{'categories': [{'column_name': 'category_id',
                 'column_position': 1,
                 'data_type': 'integer'},
                {'column_name': 'category_department_id',
                 'column_position': 2,
                 'data_type': 'integer'},
                {'column_name': 'category_name',
                 'column_position': 3,
                 'data_type': 'string'}],
 'customers': [{'column_name': 'customer_id',
                'column_position': 1,
                'data_type': 'integer'},
               {'column_name': 'customer_fname',
                'column_position': 2,
                'data_type': 'string'},
               {'column_name': 'customer_lname',
                'column_position': 3,
                'data_type': 'string'},
               {'column_name': 'customer_email',
                'column_position': 4,
                'data_type': 'string'},
               {'column_name': 'customer_password',
                'column_position': 5,
                'data_type': 'string'},
               {'column_name': 'customer_street',
                'column_position': 6,
                'data_type': 'string'},
               {'column_name': 'customer_city',
                'column_position': 7,
                'data_type': 'string'},
               {'column_name': 'customer_state',
                'column_position': 8,
                'data_type': 'string'},
               {'column_name': 'customer_zipcode',
                'column_position': 9,
                'data_type': 'integer'}],
 'departments': [{'column_name': 'department_id',
                  'column_position': 1,
                  'data_type': 'integer'},
                 {'column_name': 'department_name',
                  'column_position': 2,
                  'data_type': 'string'}],
 'order_items': [{'column_name': 'order_item_id',
                  'column_position': 1,
                  'data_type': 'integer'},
                 {'column_name': 'order_item_order_id',
                  'column_position': 2,
                  'data_type': 'integer'},
                 {'column_name': 'order_item_product_id',
                  'column_position': 3,
                  'data_type': 'integer'},
                 {'column_name': 'order_item_quantity',
                  'column_position': 4,
                  'data_type': 'integer'},
                 {'column_name': 'order_item_subtotal',
                  'column_position': 5,
                  'data_type': 'float'},
                 {'column_name': 'order_item_product_price',
                  'column_position': 6,
                  'data_type': 'float'}],
 'orders': [{'column_name': 'order_id',
             'column_position': 1,
             'data_type': 'integer'},
            {'column_name': 'order_date',
             'column_position': 2,
             'data_type': 'string'},
            {'column_name': 'customer_id',
             'column_position': 3,
             'data_type': 'timestamp'},
            {'column_name': 'order_status',
             'column_position': 4,
             'data_type': 'string'}],
 'products': [{'column_name': 'product_id',
               'column_position': 1,
               'data_type': 'integer'},
              {'column_name': 'product_cateogry_id',
               'column_position': 2,
               'data_type': 'integer'},
              {'column_name': 'product_name',
               'column_position': 3,
               'data_type': ''},
              {'column_name': 'product_description',
               'column_position': 4,
               'data_type': 'string'},
              {'column_name': 'product_price',
               'column_position': 5,
               'data_type': 'float'},
              {'column_name': 'product_image',
               'column_position': 6,
               'data_type': 'string'}]}

In [0]:
db_schemas = json.load(open(r'C:\Users\punitkumar.more\Documents\Elisa\gcp_de\AUTOMATION\retail_db\schemas.json','r'))
#pp.pprint(db_schemas)
def get_columns_names(db_schemas, tb_name,sorting_key='column_position'):
    columns_details = db_schemas.get(tb_name)
    # sorted_columns = sorted(columns_details, key = lambda col: col[sorting_key])
    # pp.pprint(sorted_columns)
    return [col['column_name'] for col in columns_details]

In [0]:
order_column = get_columns_names(db_schemas, 'orders')
print(order_column)

['order_id', 'order_date', 'customer_id', 'order_status']

In [0]:
customer_columns = get_columns_names(db_schemas, 'customers')
print(customer_columns)

['customer_id', 'customer_fname', 'customer_lname', 'customer_email', 'customer_password', 'customer_street', 'customer_city', 'customer_state', 'customer_zipcode']

In [0]:
order_df = pd.read_csv(r'C:\Users\punitkumar.more\Documents\Elisa\gcp_de\AUTOMATION\input\part.txt',header=0, names=order_column)
order_df

   order_id  order_date customer_id order_status
0      1002  2024-09-01     CUST012   Processing
1      1003  2024-09-02     CUST020      Shipped
2      1004  2024-09-03     CUST005    Cancelled
3      1005  2024-09-03     CUST018    Delivered
4      1006  2024-09-04     CUST001   Processing
5      1007  2024-09-05     CUST012      Shipped
6      1008  2024-09-05     CUST025    Delivered

In [0]:
cust_df = pd.read_csv(r'C:\Users\punitkumar.more\Documents\Elisa\gcp_de\AUTOMATION\input\part.txt', names=customer_columns)
print(cust_df)

   customer_id customer_fname customer_lname customer_email  \
0         1001     2024-09-01        CUST005      Delivered
1         1002     2024-09-01        CUST012     Processing
2         1003     2024-09-02        CUST020        Shipped
3         1004     2024-09-03        CUST005      Cancelled
4         1005     2024-09-03        CUST018      Delivered
5         1006     2024-09-04        CUST001     Processing
6         1007     2024-09-05        CUST012        Shipped
7         1008     2024-09-05        CUST025      Delivered

   customer_password  customer_street  customer_city  customer_state  \
0                NaN              NaN            NaN             NaN
1                NaN              NaN            NaN             NaN
2                NaN              NaN            NaN             NaN
3                NaN              NaN            NaN             NaN
4                NaN              NaN            NaN             NaN
5                NaN              NaN            NaN             NaN
6                NaN              NaN            NaN             NaN
7                NaN              NaN            NaN             NaN

   customer_zipcode
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN
6               NaN
7               NaN

In [0]:
customers = cust_df.set_index('customer_id')
customers

,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
customer_id,,,,,,,,
1001,2024-09-01,CUST005,Delivered,NaN,NaN,NaN,NaN,NaN
1002,2024-09-01,CUST012,Processing,NaN,NaN,NaN,NaN,NaN
1003,2024-09-02,CUST020,Shipped,NaN,NaN,NaN,NaN,NaN
1004,2024-09-03,CUST005,Cancelled,NaN,NaN,NaN,NaN,NaN
1005,2024-09-03,CUST018,Delivered,NaN,NaN,NaN,NaN,NaN
1006,2024-09-04,CUST001,Processing,NaN,NaN,NaN,NaN,NaN
1007,2024-09-05,CUST012,Shipped,NaN,NaN,NaN,NaN,NaN
1008,2024-09-05,CUST025,Delivered,NaN,NaN,NaN,NaN,NaN

In [0]:
order = order_df.set_index('order_id')
order

          order_date customer_id order_status
order_id
1002      2024-09-01     CUST012   Processing
1003      2024-09-02     CUST020      Shipped
1004      2024-09-03     CUST005    Cancelled
1005      2024-09-03     CUST018    Delivered
1006      2024-09-04     CUST001   Processing
1007      2024-09-05     CUST012      Shipped
1008      2024-09-05     CUST025    Delivered

In [0]:
customer_orders = customers.join(order, on='customer_id', how='left')
customer_orders

,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode,order_date,customer_id,order_status
customer_id,,,,,,,,,,,
1001,2024-09-01,CUST005,Delivered,NaN,NaN,NaN,NaN,NaN,NaN,1001,NaN
1002,2024-09-01,CUST012,Processing,NaN,NaN,NaN,NaN,NaN,2024-09-01,1002,Processing
1003,2024-09-02,CUST020,Shipped,NaN,NaN,NaN,NaN,NaN,2024-09-02,1003,Shipped
1004,2024-09-03,CUST005,Cancelled,NaN,NaN,NaN,NaN,NaN,2024-09-03,1004,Cancelled
1005,2024-09-03,CUST018,Delivered,NaN,NaN,NaN,NaN,NaN,2024-09-03,1005,Delivered
1006,2024-09-04,CUST001,Processing,NaN,NaN,NaN,NaN,NaN,2024-09-04,1006,Processing
1007,2024-09-05,CUST012,Shipped,NaN,NaN,NaN,NaN,NaN,2024-09-05,1007,Shipped
1008,2024-09-05,CUST025,Delivered,NaN,NaN,NaN,NaN,NaN,2024-09-05,1008,Delivered

In [0]:
print(order)

          order_date customer_id order_status
order_id
1002      2024-09-01     CUST012   Processing
1003      2024-09-02     CUST020      Shipped
1004      2024-09-03     CUST005    Cancelled
1005      2024-09-03     CUST018    Delivered
1006      2024-09-04     CUST001   Processing
1007      2024-09-05     CUST012      Shipped
1008      2024-09-05     CUST025    Delivered

In [0]:
print(customers)

            customer_fname customer_lname customer_email  customer_password  \
customer_id
1001            2024-09-01        CUST005      Delivered                NaN
1002            2024-09-01        CUST012     Processing                NaN
1003            2024-09-02        CUST020        Shipped                NaN
1004            2024-09-03        CUST005      Cancelled                NaN
1005            2024-09-03        CUST018      Delivered                NaN
1006            2024-09-04        CUST001     Processing                NaN
1007            2024-09-05        CUST012        Shipped                NaN
1008            2024-09-05        CUST025      Delivered                NaN

             customer_street  customer_city  customer_state  customer_zipcode
customer_id
1001                     NaN            NaN             NaN               NaN
1002                     NaN            NaN             NaN               NaN
1003                     NaN            NaN             NaN               NaN
1004                     NaN            NaN             NaN               NaN
1005                     NaN            NaN             NaN               NaN
1006                     NaN            NaN             NaN               NaN
1007                     NaN            NaN             NaN               NaN
1008                     NaN            NaN             NaN               NaN

orderitem = pd.read_csv('part_order_item.txt', names=get_columns_names(db_schemas,'order_items'))
print(orderitem.head()) 

product = pd.read_csv('part_product.txt', names=get_columns_names(db_schemas,'order_items'))
print(orderitem.head()) 

orderitem = orderitem.set_index('order_id')
product =  product.set_index('product_id')

join_product_order = orderitem.join(product, how='inner')
print(join_product_order.head())
join_product_order = orderitem.join(product, how='left')
print(join_product_order.head())


join_product_order['TotalValue'] = join_product_order['order_item_quantily'] * join_product_order['price']
print(join_product_order.head())
aggre = join_product_order.groupby('order_id')['TotalValue'].sum().reset_index()
print(aggre.head())

join_product_order['TotalValue'] = join_product_order['order_item_quantily'] * join_product_order['price']
print(join_product_order.head())
aggre = join_product_order.groupby('order_id')['TotalValue'].mean().reset_index()
print(aggre.head())

In [0]:
NEW_CSV = customers.sort_values(['customer_id','customer_lname'],ascending=[False,True]).head(4)

In [0]:
NEW_CSV.to_csv('new_customers.csv', index=False)
NEW_CSV.to_csv('new_customers.xlsx', index=False)
json_data = NEW_CSV.to_json('new_customers.json', orient='records', lines=True)
json_str = NEW_CSV.to_json(orient='records', lines=True)
print(json_str[:4])

{"cu

In [0]:
import glob
import pprint as pp
import os

file_path_list = []
for i in glob.iglob('retail_db/*/*.txt', recursive=True):
    file_path_list.append(i)
file_path_list.sort()
print(f'Extracted the File path : ')
pp.pprint(file_path_list)
print("****"*25)

for i,file in enumerate(file_path_list):
    print(file)
    base_file_name = os.path.splitext(os.path.basename(file))
    print(base_file_name)

Extracted the File path :
['retail_db\\categories\\categories.txt',
 'retail_db\\customers\\customers.txt',
 'retail_db\\departments\\departments.txt',
 'retail_db\\order_items\\order_items.txt',
 'retail_db\\orders\\orders.txt',
 'retail_db\\products\\products.txt']
****************************************************************************************************
retail_db\categories\categories.txt
('categories', '.txt')
retail_db\customers\customers.txt
('customers', '.txt')
retail_db\departments\departments.txt
('departments', '.txt')
retail_db\order_items\order_items.txt
('order_items', '.txt')
retail_db\orders\orders.txt
('orders', '.txt')
retail_db\products\products.txt
('products', '.txt')

In [0]:
# Calculate a 3-day rolling mean of Sales
df 
df['3D_Moving_Avg'] = df.groupby('order_id')['order_id'].rolling(window=3).sum().reset_index(level=0, drop=True)

print("\nDataFrame with 3-Day Moving Average:")
print(df)

DataFrame with 3-Day Moving Average:
   order_id order_date customer_id order_status    Month  Year  3D_Moving_Avg
0      1002 2024-09-01     CUST012   Processing  2024-09  2024            NaN
1      1003 2024-09-02     CUST020      Shipped  2024-09  2024            NaN
2      1004 2024-09-03     CUST005    Cancelled  2024-09  2024            NaN
3      1005 2024-09-03     CUST018    Delivered  2024-09  2024            NaN
4      1006 2024-09-04     CUST001   Processing  2024-09  2024            NaN
5      1007 2024-09-05     CUST012      Shipped  2024-09  2024            NaN
6      1008 2024-09-05     CUST025    Delivered  2024-09  2024            NaN

In [0]:
# Calculate the expanding (cumulative) sum of Sales for each product
df['Cumulative_Sales'] = df.groupby('Product')['Sales'].expanding().sum().reset_index(level=0, drop=True)

print("\nDataFrame with Cumulative Sales:")
print(df.drop(columns='3D_Moving_Avg')) # Dropping previous column for clarity

# Rank sales within each product group, with the highest sale being rank 1
df['Sales_Rank'] = df.groupby('Product')['Sales'].rank(method='dense', ascending=False)

print("\nDataFrame with Sales Rank per Product:")
print(df.drop(columns=['3D_Moving_Avg', 'Cumulative_Sales']))

# First, get the previous day's sales
df['Previous_Day_Sales'] = df.groupby('Product')['Sales'].shift(1)

# Then, calculate the difference
df['Sales_Change'] = df['Sales'] - df['Previous_Day_Sales']

print("\nDataFrame with Day-over-Day Sales Change:")
print(df.drop(columns=['3D_Moving_Avg', 'Cumulative_Sales', 'Sales_Rank']))

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
Cell In[59], line 2
      1 # Calculate the expanding (cumulative) sum of Sales for each product
----> 2 df['Cumulative_Sales'] = df.groupby('Product')['Sales'].expanding().sum().reset_index(level=0, drop=True)
      4 print("\nDataFrame with Cumulative Sales:")
      5 print(df.drop(columns='3D_Moving_Avg')) # Dropping previous column for clarity

File c:\Users\punitkumar.more\Documents\Elisa\gcp_de\AUTOMATION\myenv\Lib\site-packages\pandas\core\frame.py:9190, in DataFrame.groupby(self, by, axis, level, as_index, sort, group_keys, observed, dropna)
   9187 if level is None and by is None:
   9188     raise TypeError("You have to supply one of 'by' and 'level'")
-> 9190 return DataFrameGroupBy(
   9191     obj=self,
   9192     keys=by,
   9193     axis=axis,
   9194     level=level,
   9195     as_index=as_index,
   9196     sort=sort,
   9197     group_keys=group_keys,
   9198     observed=observed,
   9199     dropna=dropna,
   9200 )

File c:\Users\punitkumar.more\Documents\Elisa\gcp_de\AUTOMATION\myenv\Lib\site-packages\pandas\core\groupby\groupby.py:1330, in GroupBy.__init__(self, obj, keys, axis, level, grouper, exclusions, selection, as_index, sort, group_keys, observed, dropna)
   1327 self.dropna = dropna
   1329 if grouper is None:
-> 1330     grouper, exclusions, obj = get_grouper(
   1331         obj,
   1332         keys,
   1333         axis=axis,
   1334         level=level,
   1335         sort=sort,
   1336         observed=False if observed is lib.no_default else observed,
   1337         dropna=self.dropna,
   1338     )
   1340 if observed is lib.no_default:
   1341     if any(ping._passed_categorical for ping in grouper.groupings):

File c:\Users\punitkumar.more\Documents\Elisa\gcp_de\AUTOMATION\myenv\Lib\site-packages\pandas\core\groupby\grouper.py:1043, in get_grouper(obj, key, axis, level, sort, observed, validate, dropna)
   1041         in_axis, level, gpr = False, gpr, None
   1042     else:
-> 1043         raise KeyError(gpr)
   1044 elif isinstance(gpr, Grouper) and gpr.key is not None:
   1045     # Add key to exclusions
   1046     exclusions.add(gpr.key)

KeyError: 'Product'